@font-face {
    font-family: 'Gandom';
    src: url('/assets/webfont/Gandom.eot');
    src: url('/assets/webfont/Gandom.eot') format('embedded-opentype'),
        url('/assets/webfont/Gandom.woff2') format('woff2'),
        url('/assets/webfont/Gandom.woff') format('woff'),
        url('/assets/webfont/Gandom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    margin:0;
    padding:0;
    max-width:1200px;
    margin:0 auto !important;
    overflow-x: hidden !important;
    background-color: #000 !important;
}
html{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    font-family: 'Gandom';
    direction: rtl;
    box-sizing: border-box;
    user-select: none;
}
ul{
    list-style: none;
}
header{
    background:#00b7c3;
    position: relative;;
    overflow: hidden;
    width:100%;
    min-height:90vh;
    height:300px;
    display: flex;
    justify-content:center;
    align-items:center;
  
}
header .cont{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu{
    position:sticky;
    z-index:100;
    top:0;
}
.block{
    position: absolute;
    width:50px;
    height:100px;
    background-color:#00b7c3;
    box-shadow:10px 10px 50px rgba(0,0,0,0.2);
}
.text-box{
    position: absolute;
    font-size:40px;
    font-weight:600;
    text-align: center;
    margin:0 auto;
    margin-top:6rem;
    width:50%;
    height:200px;
    background-color:rgb(27, 27, 27);
    border-radius:10px;
    border:2px solid #fff;
    padding:01rem;
    z-index:2;
}
.text-box span{
    color:#fff;
}
.animation-text span{
    position:relative;
    color:#fff;
}
.animation-text span::after{
    content: "";
    position: absolute;
    right:0;
    height:150%;
    border-right:2px solid #fff;
    left:-2px;
    background-color:rgb(27,27,27);
    animation:5s textType;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
    animation-fill-mode: backwards;
}
@keyframes textType {
    0%{
        right:0;
    }
    50%{
           right:100%;
        }
    100%{
        right:0;
    }

}
.about-me{
    direction: rtl;
}
.about-me > h2{
    margin:2rem;
    font-weight:900px;
    color:#fff;
    font-size:50px;
}
.about-me i{
    color:orangered;
    background-color: #000;
    padding:0.5rem;
    border-radius:50%;
}
.scroll i{
    background-color:rgba(150, 49, 49, 0.7);
    color: #fff;
    position:sticky;
    border-radius:20%;
    padding:0.4rem;
    bottom:2rem;
    transition-duration:0.7s;
    right:1rem;
    z-index:50;
}
.scroll i:hover{
    background-color:#000;
}